body {
  background: #000;
  color: #fff;
  height: 100%;
}

.flix {
  position: relative;
  z-index: 1;
}

.flix-header {
  position: relative;
  z-index: 0;
}

.flix-header h1 {
  position: absolute;
  top: -85px;
  left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  color: red;
}

.movies {
  z-index: 5;
  display: flex;
  background: black;
  margin: 90px 100px 0;
  transition: opacity 0.2s;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.movies:hover .movie-holder {
  opacity: 0.25;
}

.movies:hover .movie-holder:hover {
  opacity: 1;
}

.movies .movie-holder {
  width: 100%;
  display: flex;
  position: relative;
  flex-basis: 25%;
}

@media (min-width: 576px) {
  .movies .movie-holder {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .movies .movie-holder {
    flex-basis: 33.3333%;
  }
}

@media (min-width: 992px) {
  .movies .movie-holder {
    flex-basis: 25%;
  }
}

.movies .movie-holder .movie {
  position: relative;
  background: black;
  margin: 0 2px;
  transition: all 0.4s ease-in-out;
}

.movies .movie-holder .movie:hover {
  z-index: 5;
  transform: scale(1.2,1.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.movies .movie-holder .movie span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.movies .movie-holder img {
  width: 100%;
  max-width: 100%;
}

.movies .movie-holder .movie {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
